<h1>Tasks</h1>

<button type="button" class="btn btn-primary">Add Task</button>
<button type="button" class="btn btn-primary">Modify Task</button>
<button type="button" class="btn btn-primary">Remove Task</button>
<button type="button" class="btn btn-primary">Export Task</button>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Priority</th>
        <th>Title</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var task in Model)
    {
        <tr>
            <td>@task.Priority</td>
            <td>@task.Title</td>
            <td>@task.Description</td>
        </tr>
    }
    </tbody>
</table>